@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Jolly Lodger', cursive;
  color: white;
  padding:0;
  margin: 0;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  background-color: black;
  font-size: 2em;
}

.lives__container {
  position: absolute;
  background-image: url("images/Lives-container.svg");
  background-size: 100% 100%;
  width: 105;
  height: 30;
  display: flex;
  align-items: center;
  justify-content: center;
  top:10px;
  left: 5px;
}

.heart {
  width: 30;
  height: 25;
  display: inline-block;
}

#zombies {
  position: absolute;
  background-image: url("images/enemy-container.svg");
  background-size: 100% 100%;
  width: 75;
  height: 30;
  left: 130px;
  top:10px;
}

.to-win {
  color: white;
  font-family: 'Jolly Lodger', cursive;
  position: absolute;
  right: 22px;
  top: 5px;
}

.level {
  background-image: url("images/Lives-container.svg");
  background-size: 100% 100%;
  width: 105;
  height: 30;
  position: absolute;
  top: 20px;
  text-align: center;
  padding-top:5px;
  right: 10px;
  top: 5px;
}

#start{
  position: absolute;
  z-index: 200;
  left: 50%;
  top: 50%;
  background-image: url("images/button.svg");
  background-repeat: no-repeat;
  color: white;
  cursor: pointer;
  width: 95; 
  height: 41;
}

.visible {
  display: block;
}

.floor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/background.png");
  background-size: contain;
}

.game-over {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
   /* display: flex; */
  /* justify-content:space-evenly;
  align-content: center;
  flex-direction: column; */
}

.gameover-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* justify-content: ;*/
}

.gameover-message {
  background-image: url("images/Tittle.svg");
  display: flex;
  justify-content: center;
  /* align-content: center; */
  flex-direction: column;
  align-items: center;
  /* align-self: center; */
  width: 350; 
  height: 231;
  /* position: absolute; */
  /* top: 150px;
  left: 550px; */
}

a {
  background-image: url("images/button.svg");
  background-size: 100% 100%;
  color: white;
  cursor: pointer;
  width: 95px; 
  height: 41px;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  margin: 0 10px;
}

.gameover-buttons{
   display: flex;
   margin-top:10px;
   
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

