@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Jolly Lodger', cursive;
  color: white;
  padding:0;
  margin: 0;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  font-size: 2em;
}

.lives__container {
  position: absolute;
  background-image: url("images/Lives-container.svg");
  background-size: 100% 100%;
  width: 105;
  height: 30;
  display: flex;
  align-items: center;
  justify-content: center;
  top:20px;
  left: 5px;
}

.heart {
  width: 30;
  height: 25;
  display: inline-block;
}

#zombies {
  position: absolute;
  background-image: url("images/enemy-container.svg");
  background-size: 100% 100%;
  width: 75;
  height: 30;
  left: 130px;
  top:20px;
}

.to-win {
  color: white;
  font-family: 'Jolly Lodger', cursive;
  position: absolute;
  right: 22px;
  top: 5px;
}

.level {
  background-image: url("images/Lives-container.svg");
  background-size: 100% 100%;
  width: 105;
  height: 30;
  position: absolute;
  top: 20px;
  text-align: center;
  padding-top:5px;
  right: 10px;
  top: 5px;
}


.visible {
  display: block;
}

.floor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("images/background-cemento-cafe.png");
  opacity: 0.8;
}

.floor:after {
  background-color: rgb(138,103,95);
}

.game-over {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
}

.gameover-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* justify-content: ;*/
}

.gameover-message {
  background-image: url("images/Tittle.svg");
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 350; 
  height: 231;
}


.btn {
  background-image: url("images/button.svg");
  background-size: 100% 100%;
  /* height: 90px; */
  color: white;
  cursor: pointer;
  padding: 30px;
  text-decoration: none;
  text-align: center;
  margin: 0 20px;
}

.gameover-buttons{
   display: flex;
   margin-top: 10px; 
   align-items: center;
   justify-content: center; 
   width: 100%;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*How to play*/

#how-to-play{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  z-index:200;
  align-items: center;
  display: flex;
  justify-content: center;
}

.how-to-play-container {
  display: flex;
  flex-direction: column;
  background-image: url("images/credits-background.svg");
  /* background-repeat: no-repeat; */
  background-size: 100% 100%;
  width: 563; 
  height: 680;
  /* padding:0 280px; */
  text-align: center;
  align-items: center;
  justify-content: center;
}

.text{
  padding-bottom:25px;
}

.item {
  width: 400px;
  display: flex;
  align-items: center;

}

.item img {
  width: 50px;
  height: 50px;

}

.item .special {
  width: 30px;
  height: 30px; 
  margin: 0 10px;
}

h1{
  margin: 0;
  margin-top: 45px;

}

.how-to-play-container #close{
  margin-top: 60px;
  
}

button {
 font-family: 'Jolly Lodger', cursive;
 font-size: 18px;
  appearance: none;
  border:none;
  background-color: transparent;
  outline: none;
}

/*level screen */

#level-change{
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 200;
}


.level-number {
  display:flex;
  justify-content: center;
  align-items: center;
  background-image: url("images/level-screen.svg");
  background-size: 100%;
  height: 100px;
  width: 250px;
}

#number{
  margin-top: 52px;
  font-size: 32px;
}





