

@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');

* {
    box-sizing: border-box;
    
  }
  

  body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    position: relative;
    font-family: 'Jolly Lodger', cursive;
    color: white;
  }

  header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/2338.jpg");
    background-size: cover;
    font-size: 2em;
  }
  
  .home{
    width: 100%;
    height: 100%;
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .tittle-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
  }

  .zombie-message {
    background-image: url("images/Tittle.svg");
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 350; 
    height: 231;
  }

  .home-buttons {
    display: flex;
    margin-top:10px;
    align-items: center;
    justify-content: space-evenly;
  }


  .btn {
    background-image: url("images/button.svg");
    background-size: 100% 100%;
    color: white;
    cursor: pointer;
    padding:30px;
    text-decoration: none;
    text-align: center;
  }

  .visible {
    display: block;
  }


/* credits   */

   .credits {
    background-image: url("images/credits-background.svg");
    width: 463; 
    height: 580;
    position: absolute;
    top: 40px;
    left: 550px;
    display: flex;
    /* justify-content: space-around; */
    text-align: center;
    align-items: center;
    flex-direction: column;
   
  }

  .credits-container{
     margin: 0;
     margin-top: 35px;
     display: flex;
     flex-direction: column;
     width: 100%;
     padding:0 70px;

  }

  
  a {
   text-decoration: none;
   color:white;
   font-size: 18px;
  }

  p{
    margin:0;
    font-size: 18px;
  
  }

  h1{
    margin:0;
    margin-bottom:25px;
  }

  h2{
    margin:0;
    font-size: 32px;
    margin-bottom: 5px;
  }

  h5 {
    margin:0;
  }

  .ironhack-logo{
    margin-top: 20px;
    margin-bottom:20px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .ironhack-logo img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }
/* 
  .zombies{
 
  } */

  .zombies-container {
    display:flex;
    flex-wrap: wrap;
  }

  .zombie{
    width: 30%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom:15px;
  }

  .zombie img {
    width: 50px;
    height: 50px;
  }



  #return-botton{
    margin-top: 10px;
  }

 
  #canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

