* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Helvetica';
}

.wrapper {
    border: 3px solid black;
    width: 800px;             /*alto y ancho se cambiarán según nuestro juego */
    height: 600 px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*esto asegura que el juego esté centrado todo el tiempo */
    background-image: url(''); /*Fondo, elegir uno */
    overflow: hidden;  /*evita que las cosas se salgan del borde del canvas */
}

.score {
    font-size: 150px;
    color: #010124;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);  /* esto hace que el score salga al medio del canvas*/
    /* border: 1px solid black; */
    width: 200px;
    height: 100px;
    text-align: center;
}

.countdown {
    position: absolute;
    top: 400px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: #010124;
}

button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate (-50%, 0);
    background: #010124;
    color: white;
    padding: 20px 50px;
    border-radius: 5px;
    z-index: 200; /*con esto nos aseguramos de que el boton esté siempre delante */
    cursor: pointer; /* esto sirve para que con el cursor le podamos hacer click*/
    border: none;
    outline: none;
    
}

.game {
    width: 600px;
    height: 400px;
    margin: 70px auto;
    z-index: 200;
    display: flex;
    flex-wrap: wrap;
}

.hole {
    flex: 1 0 33.33%;  /*abreviatura de flex grow*/
    position: relative;
    overflow: hidden;
}

.hole:after {
    content: '' ;
    display: block;
    background-image: url ('');
    position: absolute;
    width: 100%;
    height: 70px;
    z-index: 2;
    bottom: -30px;
    background-size: contain;
}

.mole {
    background-image: url ('');
    position: absolute;
    top: 100%;  /*esto es para que los monos suban y bajen*/
    width: 100%;
    height: 100%;
    transition: 0.4s;
    background-repeat: no-repeat;
    background-position: bottom; /* esto lo hace para que los monitos queden escondidos detras de las rocas*/
}

.mole.small{ 
    background-size: 60%;  /*les da este tamaño porque están más atrás */
}


.mole.large {
    background-size: 80%;
 }

 .hole.up .mole {
     top: 0;

 }