* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

button{
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 50%;
  display: none;
}

.lives {
  position: absolute;
  z-index: 5;
}

.level {
  position: absolute;
  z-index: 5;
  top: 20px;
}

.to-win {
  position: absolute;
  z-index: 5;
  top: 60px;
}

.heart {
  display: inline-block;
  margin-right: 4px;
}

.visible {
  display: block;
}

.floor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/background.png");
  background-size: contain;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}